extends layout.pug
include utils.pug

block content
    +validationErrorSummary(errors)
    h3 Your Answer
    form(id='answer-form' method='post' action=`/answers/${answerId}`)
        input(type='hidden' name= '_csrf' value= csrfToken)
        +field('', 'answer','', 'textarea', true)
        button(type='submit') Update
