extends layout.pug
include utils.pug

block content
    +validationErrorSummary(errors)
    h3 Comment
    form(id='comment-form' method='post' action=`/comments/${commentType}/${commentId}`)
        input(type='hidden' name= '_csrf' value= csrfToken)
        +field('', 'comment', myComment.comment, 'textarea', true)
        button(type='submit') Save edits
