extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    div#questions-page
        h1#question-page-header Most Popular App Overload Questions
        a#new-question-button(href="/questions/new") Submit A New Question!
        ul#question-list
            each question in questions
                li.question-list-item
                  p= `${question.votes} Votes`
                  p= `${question.Answers.length} Answers`
                  p= `${question.viewCount} Views`
                  a(href=`/questions/${question.id}`)= question.title 
