extends layout.pug 
include utils.pug 

block content
    +validationErrorSummary 
    form(id='login-form' method='post' action='/users/login/')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Email: ', 'email', '', 'email', true)
        +field('Password: ', 'password', '', 'password', true)
        button(type='submit') Log In!
    p Don't have an account? 
        a(href='/users/signup') Sign up
