div.form-div {
    border: 1px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form#registration-form, form#login-form {
    width: 70%;
}

.form-field-div {

}
