@import "popular-questions.css";
@import "question.css";

html {
    width: 100%;
    height: 100%;
}

#content {
    position: absolute;
    left: 20%;
    width: 80%;
    top: 50px;
    margin: 0;
    padding: 1em 0 0 2%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

}

#index-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#most-recent {

    display: inline-flex;
    align-self: center;
    
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #0095ff;
    box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);
}


h2 {
    font-style: bold;
    font-size: 20px;
}

.container{
    display: flex;

}

.sidenav {

    border-right: 1px solid rgba(217,89,112, 0.3);
    position: fixed;
    height: 100vh;
    width:20%;
    max-width: 300px; 
    background-color: rgba(150, 128, 144, 0.06);
    padding-top: 50px;
    z-index: 0;
    transform: translate(0px,50px);

}

.sidenav a {

    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: right;
    padding-right: 1em;
    font-size: 20px;
    color: #818181;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    transition: background-color 0.15s linear;
}

.sidenav a:hover {
    font-weight: 700;
    color: black;
    background-color: #d6d3d3;
}


#content > * {
    width: 80%; 
}

li > span {
    color: gray;
    font-size: .9em;
}

li > span > a {
    color: blue;
    font-size: .9em;
    text-decoration: none;
}

li > a > span {
    color:gray;
    font-size: .9em;
    text-decoration: none;
}

li > a {
    text-decoration: none;
    color: blue;
}

.body-container{
    box-sizing: border-box;

}

.sidenav a.current-page {
    font-weight: bold;
    color: black;
    border-right: 3px solid rgba(217, 89, 112, 0.7);
    background-image: linear-gradient(90deg, rgba(214, 211, 211, 0), rgba(214, 211, 211, 1));
}
