@import "popular-questions.css";
@import "question.css";

#nav-bar {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    height: 50px;
    border-bottom: 1px solid rgba(217,89,112,1);
}

#nav-bar > * {
    margin: 0 5px;
}

#nav-greeting {
    align-self: center;
    font-weight: bold;
    font-size: .9em;
}

#nav-home-link {
    width: 120px;
    margin: auto 0;
    height: 35px;
}

#nav-logo {
    height: auto;
    width: 100%;
    margin: auto;
    border-radius: 5px;
}

#search-div {
    width: 40%;
    height: 35px;
    align-self: center;
}

#search-form {
    display: flex;
    width: 100%;
    height: 100%;
}

#search-bar {
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(217,89,112,0.5);
    padding: 0 5px;
}

#search-results-div {
    background-color: rgb(211, 211, 211);
    position: absolute;
    border: 1px solid rgba(217,89,112,1);
    border-top: none;
    width: 40%;
    top: 49px;
}

#results-list > a {
    text-decoration: none;
}

#results-list li {
    background-color: rgb(211, 211, 211);
    list-style: none;
    font-size: 1.15em;
    padding: 0 5px;
}

#results-list li:hover {
    background-color: darkgray;
}

#nav-auth {
    display: flex;
    height: 80%;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
}

#nav-auth > a {
    text-decoration: none;
    font-weight:bold;
    cursor: pointer;
}

#nav-auth > a:hover {
    text-decoration: underline;
}

#nav-auth > * {
    margin: 0 5px;
}

#nav-prof-link {
    width: 35px;
}

#nav-prof-pic {
    height: 35px;
    border-radius: 35px;
    border: 2px solid rgba(217,89,112,0.5);
}

#index-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#most-recent {
    border: 1px solid black;
    padding: 25px;
    color: blue;
    background-color: lightgray;
    align-self: center;
}

h2 {
    font-style: bold;
    font-size: 20px;
    padding: 20px;
}

.container{
    display: flex;

}

#sidebar-content{
    display: flex;
    flex-direction: row;
}

.sidenav {
    position: sticky;
    height: 100%;
    width:10%;
    top: 0;
    background-color: rgba(255,255,255,.5);
    overflow-x: hidden;
    padding-top: 20px;
  }

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
  }
.sidenav a:hover {
    font-weight: 700;
    color: black;
    background-color: #d6d3d3;
  }


#question, #new-answer, #question-answers {
    margin: 50px;
}

li > span {
    color: gray;
    font-size: .9em;
}

li > span > a {
    color: blue;
    font-size: .9em;
    text-decoration: none;
}

li > a > span {
    color: gray;
    font-size: .9em;
    text-decoration: none;
}

li > a {
    text-decoration: none;
    color: blue;
}
