#nav-bar {
    display: flex;
    justify-content: center;
    background-color: rgb(241,242,244);
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    border-bottom: 1px solid rgba(217,89,112,0.5);
    box-shadow: 0px 0px 4px 0px rgba(217,89,112,1);
    z-index: 1;
}

#nav-div{
    height:fit-content;
}

#nav-bar > * {
    margin: 0 5px;
}

#nav-greeting {
    align-self: center;
    font-weight: bold;
    font-size: .9em;
}

#nav-home-link {
    width: 120px;
    margin: auto 5px;
    height: fit-content;
}

#nav-logo {
    height: auto;
    width: 100%;
    margin: auto;
    border-radius: 5px;
}

#search-div {
    width: 40%;
    height: 35px;
    align-self: center;
    margin: auto 5px;
}

#search-form {
    display: flex;
    width: 100%;
    height: 100%;
}

#search-bar {
    width: 100%;
    border-radius: 8px;
    border: 2px solid rgba(217,89,112,0.5);
    padding: 0 5px;
}

#search-bar:focus {
    outline: none;
}

#search-bar.expanded {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#search-results-div {
    background-color: white;
    position: absolute;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 2px solid rgba(217,89,112,0.5);
    border-top: none;
    width: inherit;
    top: 35px;
    z-index: 2;
}

#search-results {
    z-index: 2;
}

#results-list > a {
    text-decoration: none;
    z-index: 2;
    width: inherit;
}

#results-list > a:last-child > li {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#results-list li {
    background-color: white;
    list-style: none;
    font-size: 1.15em;
    width: inherit;
    padding: 0 5px;
    transition: background-color 0.2s ease-out;
    z-index: 2;
    border-top: 1px solid rgba(165, 140, 140, 0.3);
}

#results-list li:hover {
    background-color: rgba(217,89,112,0.5);
}

#nav-auth {
    display: flex;
    height: 100%;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
}

#nav-auth > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight:bold;
    cursor: pointer;
    height: 100%;
    transition: background-color 0.15s linear;
    width: auto;
}

#nav-auth > a:hover {
    background-color: rgba(217,89,112,0.5);
}

#nav-auth > * {
    padding: 0 8px;
}

#nav-prof-link {
    width: fit-content;
}

#nav-prof-pic {
    height: 35px;
    border-radius: 35px;
    border: 2px solid rgba(217,89,112,0.5);
}
