#questions-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

#question-page-header {
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.question-list-item {
    display: flex;
    justify-content: center;
    border-top: 1px solid grey;
}

.question-list-item > a {
    color: blue;
    font: bold;
    align-self: center;
    padding-left: 150px;
}

#question-list {
    display: grid;
    grid-template-columns: 1;
}

li > p {
    padding: 15px;
}

#new-question-button {
    display: inline-flex;
    align-self: center;
    
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #0095ff;
    box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);


}
