#questions-page {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    width:80%;
    right:0;
}
#question-page {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    width:80%;
    right:0;
    overflow-x: hidden;

}


#individual-question{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: auto;
}

#question-list-item {
    align-self: flex-start;
}

#question-title, #question-details {
    margin-bottom: 15px;
}

#question-details {
    font-size: 20px;
}

#question-done-editing-link, #question-delete-link {
    margin-bottom: 15px;
}

#q-comments-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 1.5em;

}

#question-answers > ul > li > h3 {
    display: flex;
    flex-direction: column;
}

.answer-details {
    display: flex;
    flex-direction: column;
}

#q-comments-list > li > h3 {
    display: flex;
    flex-direction: column;
}

#question-title-editor, #question-details-editor, #question-done-editing-link, .comment-details-editor, .answer-details-editor, .comment-done-editing-link, .answer-done-editing-link {
    visibility: hidden;
    display: none;
}

button {
    background-color: rgba(217, 89, 112, .5);
    color: black;
    border: 1px solid rgba(217, 89, 112, 0.7);
    /* box-shadow: 0px 0px 3px 1px slategray; */
    height: 2em;
    border-radius: 5px;
    font-weight: 600;
}

.question-comment-li{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(217, 89, 112, 0.3);
    color: rgba(108, 122, 137, .8);
    justify-self: center;
    margin-top: 0.5em;
    padding-top: 0.25em;
}

.answer-edit-link, .answer-delete-link, #question-edit-link, #question-delete-link, #question-done-editing-link, .comment-done-editing-link, .answer-done-editing-link, .comment-editor, .comment-delete, #back-home {
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #0095ff;
    box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);
    width: fit-content;
    block-size: fit-content;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;


    font-weight: 500;
    display: block;
    margin : 0.25em 0;
    background-color: rgba(217, 89, 112, .5);
    color: black;
    border: 1px solid rgba(217, 89, 112, 0.7);
}

.form-div {
    width: 100%;
}

.form-input {
    width: 100%;
    resize: none;
    tab-size: 4;
    height: 5em;
    border-radius: .5em;
    margin-top: 0.5em;
}

input.form-input {
    height: 2em;
    border: 1px solid black;
}

#home-div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

#back-home {
    border: 1px solid black;
    padding: 15px;
    margin: 5px;
}

textarea {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: fit-content;
    block-size: fit-content;
}

textarea[name='comment'] {
    visibility: invisible;
    display: none;
}

#question-answers, #q-comments-list {
    margin-bottom: 75px;
}

.add-comment-button {
    margin-top: 5px;
}

.new-answer-comment {
    padding-left: 1.5em;
}

#answer-comment-list {
    display: flex;
    flex-direction: column;
    padding-left: 1.5em;
}

h4 {
    height: fit-content;
}
