@import "index.css";

#user-page {
    display: flex;
    flex-direction: column;
    width:80%;
    right:0;
    min-height: 90vh;
    height: fit-content;
    padding-bottom: 150px;
}

#user-layout {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.user {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(217,89,112,0.5);
    box-shadow: 0px 0px 2px 0px rgb(217 89 112);
    border-radius: 15px;
    width: 150px;
    height: 170px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.2);
    margin: 20px;
    transition: box-shadow 0.1s linear;
}

.icon {
    height: 50px;
}

.user img {

    border-radius: 25px;
    box-shadow: 0px 0px 4px 0px black;
    border-radius: 25px;
}

.user:hover{
    border: 1px solid rgba(217, 89, 112, 0.7);
    cursor: pointer;
    opacity: 100%;
    box-shadow: 0px 0px 8px 0px rgb(217, 89, 112);
}

#user-name{
    color:#0077cc;
    text-align: center;
}

#user-rep{
    color: grey;
    text-align: center;
}
